@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Norican&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.norican {
    font-family: 'Norican', cursive !important;
}

/* Navbar CSS */
.navbar-menu a{
    color: #003049;
}
.navbar-menu a.active{
    color: #f77f00;
}

/* Banner Slider */
.banner-slider .swiper-button-next,
.banner-slider .swiper-button-prev {
    position: absolute;
    background-color: white;
    z-index: 999;
    top: 50%;
    transform: translateY(-50%);
    padding: 7px 14px;
    cursor: pointer;
    transition: all .3s ;
}
.banner-slider .swiper-button-next{
    right: -100px;
    transition: all .3s ;
}
.banner-slider .swiper-button-prev{
    left: -100px;
    transition: all .3s ;
}
.banner-slider:hover .swiper-button-next{
    right: 30px;
    
}
.banner-slider:hover .swiper-button-prev{
    left: 30px;
}
.banner-slider .swiper-button-prev:after, .swiper-button-next:after{
    font-size: 20px !important;
    font-weight: bold;
    color: #f77f00;
    transition: all .3s ;
}
.banner-slider .swiper-button-next:hover,
.banner-slider .swiper-button-prev:hover {
    background-color: #f77f00;
}
.banner-slider .swiper-button-prev:hover:after, .swiper-button-next:hover:after{
    color: #fff;
}

/* React Awesome Button */
.aws-btn--primary .aws-btn__content {
    background: #f77f00 !important;
}
.aws-btn--primary .aws-btn__wrapper:before {
    background: #a55601 !important;
}
.aws-btn{
    --button-raise-level: 6px !important;
}
.like-btn.aws-btn{
    --button-horizontal-padding: 40px !important;
}
/* checkout-btn */
.checkout-btn {
    background-color: #f77f00;
    color: white;
    padding: 15px 60px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: all 0.3s ;
    border-radius: 10px;
}

.checkout-btn:hover{
    background-color: #e85d04;
}

.StripeElement {
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    border: 2px solid #f77f00;
}
.checkout-text-error {
    color: red !important;
    font-weight: 700;
    font-size: 20px;
}
.checkout-text-success {
    color: green !important;
    font-weight: 700;
    font-size: 20px;
}