@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Norican&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.norican {
    font-family: 'Norican', cursive !important;
}

/* Navbar CSS */
.navbar-menu a{
    color: #003049;
}
.navbar-menu a.active{
    color: #f77f00;
}

/* Dashboard Menu CSS */
a.dashboard-menu.active .MuiButtonBase-root.MuiListItemButton-root.MuiListItemButton-gutters.MuiListItemButton-root.MuiListItemButton-gutters.css-1rf1f39 {
    background: #f77f00 !important;
    color: white !important;
}
a.dashboard-menu.active svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-vubbuv {
    color: white !important;
}

/* Banner Slider */
.banner-slider .swiper-button-next,
.banner-slider .swiper-button-prev {
    position: absolute;
    background-color: white;
    z-index: 999;
    top: 50%;
    transform: translateY(-50%);
    padding: 7px 14px;
    cursor: pointer;
    transition: all .3s ;
}
.banner-slider .swiper-button-next{
    right: -100px;
    transition: all .3s ;
}
.banner-slider .swiper-button-prev{
    left: -100px;
    transition: all .3s ;
}
.banner-slider:hover .swiper-button-next{
    right: 30px;
    
}
.banner-slider:hover .swiper-button-prev{
    left: 30px;
}
.banner-slider .swiper-button-prev:after, .swiper-button-next:after{
    font-size: 20px !important;
    font-weight: bold;
    color: #f77f00;
    transition: all .3s ;
}
.banner-slider .swiper-button-next:hover,
.banner-slider .swiper-button-prev:hover {
    background-color: #f77f00;
}
.banner-slider .swiper-button-prev:hover:after, .swiper-button-next:hover:after{
    color: #fff;
}

/* React Awesome Button */
.aws-btn--primary .aws-btn__content {
    background: #f77f00 !important;
}
.aws-btn--primary .aws-btn__wrapper:before {
    background: #a55601 !important;
}
.aws-btn{
    --button-raise-level: 6px !important;
}
.like-btn.aws-btn{
    --button-horizontal-padding: 40px !important;
}
/* checkout-btn */
.checkout-btn {
    background-color: #1b1714;
    color: white;
    padding: 15px 60px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: all 0.3s ;
    border-radius: 10px;
}

.checkout-btn:hover{
    background-color: #e85d04 !important;
}

.StripeElement {
    padding: 20px;
    border-radius: 10px;
    color: #fff !important;
    border: 2px solid #f77f00;
}
.checkout-text-error {
    color: red !important;
    font-weight: 700 !important;
    font-size: 20px !important;
}
.checkout-text-success {
    color: green !important;
    font-weight: 700;
    font-size: 20px;
}

.infinite-scroll-component__outerdiv {
    width: 100% !important;
}

.css-1lwh9ca.Mui-focused {
    color: rgba(0, 0, 0, 0.6) !important;
}

.css-fmgh49-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root.Mui-focused {
    background-color: white !important;
}
.css-1vwnxuo.Mui-focused {
    background-color: white !important;
}
.css-1vwnxuo::after {
    border-bottom: 0 !important;
}
.css-1vwnxuo:hover:not(.Mui-disabled, .Mui-error)::before {
    border-bottom: 0 !important;
}
.css-17gq4vl:focus {
    background-color: rgb(255 255 255 / 5%) !important;
    border-radius: 0px;
}

form.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.bigMealSearch.css-9ttigj {
    height: 56px !important;
    border-radius: 8px !important;
    padding-left: 10px !important;
}

.my-profile-container  {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}
.my-profile-paper{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    border-radius: 20px !important;
}

.login-box-container{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    padding: 20px;
}
.login-box{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 30px;
    border-radius: 20px;
}

.dashboard-container {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    border-radius: 20px !important;
    padding: 30px !important;
}